.ruler {
    height: 8px;
    width: 400px;
    background: gray;
    margin: 16px 0;
  }
  
  /* これより上の CSS は変更してはいけません */
  /* 右の仕様を満たすように CSS を書いて実装してみましょう */
  /* この課題ではフレックスボックスを使ってはいけません */

  h1 {
    line-height: 1.4;
    font-size: 20px;
  }

  p {
    line-height: 1.6;
    font-size: 15px;
  }


  .card {
    padding: 0 16px;
    box-sizing: border-box;
    width: 400px;
    /* border: 1px solid black; */
    border: 1px solid #aaa;
    border-radius: 8px;

  }

  .card h1 {
    padding: 0 0 8px 0;
    /* border-bottom: 1px solid black; */
    border-bottom: 1px solid #aaa;
  }

  .card a {
    display: inline-block;
    width: 120px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    margin: 8px 0 16px 0;
    padding: 8px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  .card a:hover {
    color: white;
    background: black;
  }

