/* 右の仕様を満たすようにメディアクエリーを使って実装してみましょう */
/* この課題ではモバイルファーストで組み上げください */
body {
    margin: 0;
}

header {
    padding: 16px;
    background-color: skyblue;
    box-sizing: border-box;
}

nav {
    padding: 16px;
    background-color: orange;
    box-sizing: border-box;
    display: none;
}

main {
    padding: 16px;
    background-color: pink;
    box-sizing: border-box;
}

aside {
    padding: 16px;
    background-color: red;
    box-sizing: border-box;
}

footer {
    padding: 16px;
    background-color: yellow;
    box-sizing: border-box;
}

@media (min-width: 600px) {
    section {
        display: flex;
    }

    main {
        width: calc(100% - 160px);
    }

    aside {
        width: 160px;
    }
}

@media (min-width: 800px) {
    section {
        display: flex;
    }

    nav {
        width: 160px;
        display: block;
    }

    main {
        width: calc(100% - 160px);
    }

    aside {
        display: none;
    }
}