body {
    font-family: "Arial", sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.chat-container {
    width: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.chat-header {
    background-color: #0084FF;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chat-header h1 {
    margin: 0;
}

.chat {
    display: flex;
    flex-direction: column;
    height: 500px;
}

.messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    max-width: 100%; /* メッセージエリアの最大幅を100%に設定 */
}

.message {
    clear: both;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}

.message.received .message-content {
    justify-content: flex-start;
}

.message.sent .message-content {
    justify-content: flex-end;
}

.message-content {
    border-radius: 10px;
    display: flex;
    padding: 10px;
    position: relative;
}

.avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    align-self: flex-start;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
}

.message-text {
    background-color: #DCF8C6;
    padding: 3%;
    max-width: 70%;
    word-wrap: break-word;
}

.timestamp {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
}

.message.received .timestamp {
    text-align: left;
    margin-right: auto;
    margin-bottom: 5px;
}

.message.sent .timestamp {
    text-align: right;
    margin-left: auto;
    margin-bottom: 5px;
}

.message-content .image {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 5px;
}

.message-content .image img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 10px;
}

.input-area {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
}

#message-input {
    flex: 1;
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
}

#send-button {
    background-color: #0084FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #0073E0;
}

