body {
    margin: 0;
}

.container {
    width: 400px;
    padding: 16px 32px;
    background-color: #ffffdd;
    margin: 16px;
}

.top_title {
    text-align: center;
    border-bottom: 4px solid black;
}

ul {
    list-style: none;
}

li {
    padding-left: 5%;
    position: relative;
    box-sizing: border-box;
}

li.list_worry::before {
    /* 
    ここで四角部分作成
    https://ws-pilgrimage.jp/webcreate/2113/
    
    */
    position: absolute;
    content: '';
    top: 3px;
    left: -5px;
    width: 12px;
    height: 12px;
    border: 2px solid #ccc;
}

li.list_worry::after {
    /* 
    ここでチェック部分作成
    https://ws-pilgrimage.jp/webcreate/2113/
    */
    position: absolute;
    content: '';
    width: 18px;
    height: 6px;
    top: 0;
    left: -5px;
    border-left: 3px solid #40477e;
    border-bottom: 3px solid #40477e;
    transform: rotate(-45deg);
}

/* 下の技術リスト */
/* https://saruwakakun.com/html-css/reference/ul-ol-li-design*/
/* タグ風が良いかも？ */

ul.tech li {
    font-weight: bold;
    left: -11px;
    position: relative;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-bottom: 5px;
    line-height: 1.5;
    background: #dbebf8;
    vertical-align: middle;
    color: #505050;
    border-radius: 15px 0px 0px 15px;/*左側の角丸く*/
  }
  
  ul.tech li:before{ 
    display:inline-block; 
    vertical-align: middle;
    /*以下白丸つくる*/
    content:'';
    width:1em;
    height: 1em;
    background: #fff;
    border-radius: 50%;
    margin-right: 10px;
  }



/* ボタン作成このサイト */
/* https://find-a.jp/seotimes/30-usable-button-designs/ */

.background_btn02 {
    display: inline-block;
    color: #fff; /* 文字色 */
    font-weight: bold; /* 文字の太さ */
    width: 90%;
    max-width: 400px; /* ボタン幅 */
    text-decoration: none;
    border: 2px solid #F38173; /* 線の色 */
    padding: 1em 1em;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #fff 0%, #fff 50%, #F38173 50%, #F38173 100%); /* 背景色(マウスオーバー後→前) */
    transition: background-position .8s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: background-position .8s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .background_btn02_arrow {
    display: inline-block;
    padding-left: 1em;
  }
  
  /* マウスオーバーした際のデザイン */
  .background_btn02:hover {
    background-position: 0 0;
    color: #000; /* 文字色 */
  }
  
  .background_btn02:hover .background_btn02-line path ,
  .background_btn02:hover .background_btn02-line line {
    stroke: #000; /* 矢印の色 */
  }




