/* この課題では CSS を変更してはいけません */

body {
    background: rgb(0 0 0);
  }
  
  .colors {
    background: #fff;
    width: 200px;
    padding: 16px;
    border-radius: 8px;
    position: fixed;
    inset: 16px 16px auto auto;
  }
  
  label {
    display: flex;
    gap: 8px;
  }
  
  label span {
    width: 48px;
  }
  
  