section {
    width: 280px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #333;
    color: white;
    line-height: 1.4;
    padding: 12px;
    text-align: center;
    position: fixed;
    bottom: 16px;
    animation: popup;
    animation-duration: 3s;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes popup {
    0% {
        transform: translateX(-100px);
        /* display: none; */
        opacity: 0;
      }
      20% {
        transform: none;
        opacity: 1;
      }
      80% {
        transform: none;
        opacity: 1;
      }
      100% {
        transform: translateY(100px);
        opacity: 0;
        pointer-events: none;
      }

}