/* 右の仕様を満たすようにメディアクエリーを使って実装してみましょう */
/* この課題ではモバイルファーストで組み上げください */

body {
    background-color: gray;
}

@media (min-width: 600px) {

    body {
        background-color: skyblue;
    }

}

@media (min-width: 800px) {
    body {
        background-color: red;
    }
}