/* この課題では CSS を変更してはいけません */

body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background: url("https://user-images.githubusercontent.com/50351871/184288309-b95071ee-1a0c-4d4b-8c30-4fd61d5ce97a.png");
  
  }
  
  #rocket {
    transition: transform .3s;
  }
  
  