section {
    width: 480px;
    box-sizing: border-box;

}

/* カード全体の設定 */
.card_shadow {
    border: none;
    list-style: none;
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card_shadow li {
    width: 50%;
    display: inline-block;
    margin-bottom: 4%;
}

.card_shadow li a {
    text-decoration: none;
}

.card {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.card img {
    width: 100%;
}

.card .card_text {
    padding: 15px 25px 18px;
}

.card .card_text .date {
    margin: 0;
    font-weight: 200;
}

.card .card_text .text {
    margin: 5px 0 0;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    line-height: 1.3;
}

.shadow {
    transition: 0.2s ease-in-out;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 12%), 0 2px 3px 0 rgb(0 0 0 / 22%);
  }
  
  .shadow:hover {
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
    transform: translateY(-4px);
  }
