body {
    margin: 0;
    width: 1040px;
    height: 1000px;
}

.card_shadow {
    border: none;
    list-style: none;
    /* background: pink; */
    width: 100%;
    display: flex;
    padding: 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}

li {
    width: calc((95% / 3) - 10px * 2);
    height: calc(100% - 12%);
    display: inline-block;
    margin-bottom: 4%;
    margin: 12px;
    }


.card {
    /* background-color: pink; */
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
    overflow: hidden;
}

.card:hover {
    background: #eee;
    box-shadow: 0 0 10px rgba(0,0,0,0.2)
}

/* カード内の画像の大きさが違う場合揃える方法 */
/* https://note.com/toya_n/n/n6b16f418bb1b */
.card_image {
    /* width: 100%;
    height: 100%; */

    position: relative;
    margin: 0 auto;
    padding-top: 60%;
    transition: 1s;
}

.card_image:hover {
    transform: scale(1.2);
    overflow: hidden;
}

.card_image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_text {
    text-align: center;
}

.card_title {
    font-size: 20px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}

.card_sentence {
    font-size: 12px;
    line-height: 1.4;
    padding: 12px;
}

.arrow {
    /* 矢印画像の親要素にdisplay: block設定 */
    text-align: right;
    margin-left: auto;
    margin-bottom: 4px;
}

.view_more {
    text-align: center;
    ;
}


.bi-arrow-right-square {
    font-size: 32px;
    padding: 12px;
    cursor: pointer;
}

.bi-arrow-right-square:hover {
    
    color: blue;
}



