/* 右の仕様を満たすように CSS フレックスボックスを使って実装してみましょう */

body {
    margin: 0;
}

section {
    display: flex;
    padding-bottom: 8px;
}

.box-1 {
    width: 80px;
    height: 80px;
    background-color: #F2A22C;
    font-weight: bold;
}

.box-2 {
    height: 80px;
    width: calc(100% - 80px);
    background-color: #8EC6E4;
    font-weight: bold;
}

section:nth-child(even) {
    .box-2 {
        order: -1;
    }
}
