body {
    margin: 0;
}

.box {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.box-1 {
    height: 100px;
    width: calc((100% - (8px * 2 )) / 3);
    background-color: #BE5654;
}

.box-2 {
    height: 100px;
    width: calc((100% - (8px * 2 )) / 3);
    background-color: #C6925C;
}

.box-3 {
    height: 100px;
    width: calc((100% - (8px * 2 )) / 3);
    background-color: #D2D264;
}

.box-4 {
    height: 100px;
    width: calc((100% - (8px * 2 )) / 3);
    background-color: #9ECE64;
}

.box-5 {
    height: 100px;
    width: calc((100% - (8px * 2 )) / 3);
    background-color: #72CE5C;
}

.box-6 {
    height: 100px;
    width: calc((100% - (8px * 2 )) / 3);
    background-color: #72CE94;
}