/* 右の仕様を満たすように CSS を書いて実装してみましょう */
/* この課題ではフレックスボックスを使ってはいけません */

a {
    display: inline-block;
    width: 160px;
    background: #0099ff;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 16px;
    text-align: center;
}

a:hover {
    opacity: .6;
}
