.ruler {
    height: 8px;
    width: 400px;
    background: gray;
    margin: 16px 0;
  }
  
  /* これより上の CSS は変更してはいけません */
  /* 右の仕様を満たすように CSS を書いて実装してみましょう */
  /* この課題ではフレックスボックスを使用してはいけません */
  
h1 {
  line-height: 1.4;
  font-size: 20px;
  }

p {
  line-height: 1.6;
  font-size: 16px;
  }

.card-1 {
  box-sizing: border-box;
  width: 400px;
  padding: 0 16px;
  border: 1px solid black;
  border-radius: 8px;
  }

.card-1 h1 {
  border-bottom: 1px solid black;
  padding: 0 0 8px 0;
  }

.card-2 {
  margin-top: 16px;
  box-sizing: border-box;
  width: 400px;
  /* padding: 0 16px; */
  border: 1px solid black;
  }

.card-2 h1 {
  color: white;
  padding: 8px;
  margin: 0;
  background-color: black;
  text-align: center;
}

.card-2 p {
  padding: 4px 16px;
  background: white;
}

