body {
    margin: 0;
    /* ウィンドウ幅固定 */
    width: 400px;
}

.pc {
    display: none;
}

/* header部分 */
header {
    background-color: #3b4b5a;
    margin: 0;
}

h1 {
    display: flex;
    background-image: url(https://256times-upload-files.s3.ap-northeast-1.amazonaws.com/production/749274/4308/60be5db0515c994465798143c77b41bf3ca85501.png);
    background-size: 50%;
    background-repeat: no-repeat;
    margin:  3%;
}

h1 .bi-list {
    margin-left: auto;
    font-size: 46px;
    color: white;
}

/* hero_area作成 */

/* テキスト背景 */
.hero_area {
    background-image: url(https://256times-upload-files.s3.ap-northeast-1.amazonaws.com/production/101/4311/af880fc03d0175ac6ec908ba4f05cab9769dbdcc.jpg);
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
}

.hero_area .text_box {
    position: absolute;
    width: 45%;
    height: 35%;
    top: 40%;
    left: 30%;
    color: white;
    transform: translate(-50%,-20%);
    padding:0;
    margin:0;
    background-color: #4C5656;
    opacity: .8;
}

/* テキスト部分 */
.hero_area .text_box .title {
    font-weight: bold;
    font-size: 120%;
    text-align: center;
}

.beauty {
    font-family: 'Kaisei HarunoUmi', serif;
}

.power {
    font-family: 'Zen Antique', serif;
}

.text {
    font-size: 80%;
    text-align: center;
}

/* コンセプト部分 */
.concept {
    width: 100%;
    height: 1000px;
}

.concept .story {
    background-image: url(https://256times-upload-files.s3.ap-northeast-1.amazonaws.com/production/101/4330/2bdd8283b2819d0791da7b7d130acbf0df5dd52e.jpg);
    height: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin: 2% 0;
}

.story .text_box {
    position: absolute;
    width: 50%;
    height: 80%;
    top: 19%;
    left: 73%;
    color: white;
    transform: translate(-50%,-20%);
    padding: 2%;
    margin: 0;
    background-color: #4C5656;
    opacity: .8;
}

.concept .cerapy {
    background-image: url(https://256times-upload-files.s3.ap-northeast-1.amazonaws.com/production/101/4329/2ecd716a85b245713eb4aefc1cd7f3e90d7a32c6.jpg);
    height: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin: 2% 0;
}

.concept .cerapy .text_box {
    position: absolute;
    width: 50%;
    height: 80%;
    top: 19%;
    left: 27%;
    color: white;
    transform: translate(-50%,-20%);
    padding: 2%;
    margin: 0;
    background-color: #4C5656;
    opacity: .8;
}

.concept .sdgs {
    background-image: url(https://256times-upload-files.s3.ap-northeast-1.amazonaws.com/production/101/4328/577ad7e3a00d1da872e394dabaec40ed5f6e1ec8.jpg);
    height: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.concept .sdgs .text_box {
    position: absolute;
    width: 50%;
    height: 65%;
    top: 17%;
    left: 73%;
    color: white;
    transform: translate(-50%,-20%);
    padding: 2%;
    margin: 0;
    background-color: #4C5656;
    opacity: .8;
}







/* フッター部分 */

/* 画像部分 */
footer {
    background-color: #F4F3DF;
    margin: 0;
    text-align: center;
}

footer img {
    padding: 8%;
    width: 50%;
}

/* お店情報部分 */
dt {
    float: left ;
    clear: left ;
    margin-right: 0.5em ;
    width: 120px ;
}

dd {
    float: left ;
    margin-left: 1em ;
}


/* アイコン部分 */
footer .icon {
    display: flex;
    width: 50%;
    margin: auto;
}

footer .icon i {
    font-size: 32px;
    flex: 1;
}

.bi-instagram {
    color: #E9A758;
    cursor: pointer;
}

.bi-twitter {
    color: #1D9BF0;
    cursor: pointer;
}

.bi-facebook {
    color: #1877F2;
    cursor: pointer;
}