body {
    margin: 0;
    /* ウィンドウ幅固定 */
    width: 500px;
}

/* header部分 */
header {
    background-color: #3b4b5a;
}

h1 {
    background-image: url(https://256times-upload-files.s3.ap-northeast-1.amazonaws.com/production/749274/4308/60be5db0515c994465798143c77b41bf3ca85501.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: left;
    padding: 0;
    margin:  0;
}

h1 .bi-list {
    margin-left: auto;
    font-size: 46px;
    color: white;
    padding-right: 5%;
}

/* @media screen and (min-width: 400px) {
    .background_header {
        background-image: url(https://256times-upload-files.s3.ap-northeast-1.amazonaws.com/production/749274/4307/d4c513094573b5b5b80aca939057e06cd6b768ba.png);
        background-size: ;
    }

    h1 .bi-list {
        display: none;
    }
    
} */

/* hero_area作成 */

/* テキスト背景 */
.hero_area {
    background-image: url(https://256times-upload-files.s3.ap-northeast-1.amazonaws.com/production/101/4311/af880fc03d0175ac6ec908ba4f05cab9769dbdcc.jpg);
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
}

.hero_area .text_box {
    position: absolute;
    width: 45%;
    height: 35%;
    top: 40%;
    left: 30%;
    color: white;
    transform: translate(-50%,-20%);
    padding:0;
    margin:0;
    background-color: #4C5656;
    opacity: .8;
}

/* テキスト部分 */
.hero_area .text_box .title {
    font-weight: bold;
    font-size: 120%;
    text-align: center;
}

.beauty {
    font-family: 'Kaisei HarunoUmi', serif;
}

.power {
    font-family: 'Zen Antique', serif;
}

.text {
    font-size: 80%;
    text-align: center;
}

/* コンセプト部分 */
/* 
https://niwaka-web.com/flexbox_reverse02/
これ参考に作成する
 */
.concept {
    width: 100%;
    height: 1700px;
    background-color: #3b4b5a;
    gap: calc(100% / 3);
}

.concept .box {
    width: 100%;
    height: calc(100% / 3);
    display: flex;
    flex-direction: column-reverse;
}

.concept .box .text_box {
    padding: 3%;
    color: #ccc;
}

.text_box h3 {
    text-align: center;
}

/* フッター部分 */

/* 画像部分 */
footer {
    background-color: #F4F3DF;
    margin: 0;
    text-align: center;
}

footer img {
    padding: 8%;
    width: 50%;
}

/* お店情報部分 */
dt {
    float: left ;
    clear: left ;
    margin-right: 0.5em ;
    width: 120px ;
}

dd {
    float: left ;
    margin-left: 1em ;
}


/* アイコン部分 */
footer .icon {
    display: flex;
    width: 50%;
    margin: auto;
}

footer .icon i {
    font-size: 32px;
    flex: 1;
}

.bi-instagram {
    color: #E9A758;
    cursor: pointer;
}

.bi-twitter {
    color: #1D9BF0;
    cursor: pointer;
}

.bi-facebook {
    color: #1877F2;
    cursor: pointer;
}