/* Reset style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fafafa;
    list-style: none;
    text-decoration: none;
  }

body {
    margin: 0;
    max-width: 1024px;
}

/* header部分 */
/* モバイルファーストスタイル */
.header_bg {
    background: #3b4b5a;
    width: 100%;
    height: 100px;
}

.header_contents {
    width: 100%;
    height: 100px; /* モバイルでは高さは固定 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* モバイルでは左右に余白を追加 */
}

.header_contents h1 {
    font-size: 22px;
    margin: 0;
}

.header_contents h1 .pc-logo {
    display: none;
}

.header_nav_lists {
    display: none; /* モバイルでは非表示 */
}

.responsive_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 15%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.menu_line {
    background: #fafafa;
    border-radius: 5px;
    width: 100%;
    height: 5px;
    margin: 4px 0;
}

/* レスポンシブメニューのアクティブスタイルはデフォルトでは非表示にしておく */
.menu_active {
    right: -100%;
}

/* メディアクエリを使用してデスクトップ用のスタイルを適用 */
@media screen and (min-width: 769px) {
    .header_contents {
        max-width: 1024px;
        height: 100%;
        margin: 0 auto;
        padding: 0; /* デスクトップでは余白を削除 */
    }

    .header_contents h1 {
        font-size: 24px;
        margin: 0 0 0 40px;
    }

    .header_contents h1 .sp-logo {
        display: none;
    }

    .header_contents h1 .pc-logo {
        display: flex;
        width: 80%;
    }

    .responsive_btn {
        display: none;
    }

    .header_nav_lists {
        display: flex;
    }

    .header_nav_lists li {
        margin: 0 40px 0 0;
    }

    .nav_link {
        font-size: 18px;
    }

    /* レスポンシブメニューのアクティブスタイルを調整 */
    .menu_active {
        right: 0;
    }
}

/* hero_area作成 */

/* テキスト背景 */
.hero_area {
    background-image: url(https://256times-upload-files.s3.ap-northeast-1.amazonaws.com/production/101/4311/af880fc03d0175ac6ec908ba4f05cab9769dbdcc.jpg);
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
    position: relative;
}

.hero_area .text_box {
    position: absolute;
    width: 45%;
    max-width: 200px;
    height: 35%;
    top: 40%;
    left: 30%;
    color: white;
    transform: translate(-50%,-20%);
    padding:0;
    margin:0;
    background-color: #4C5656;
    opacity: .8;
}

/* テキスト部分 */
.text_box .title {
    position: relative;
    font-weight: bold;
    font-size: 120%;
    text-align: center;
    top: 20%;
}

.text_box .text {
    position: relative;
    font-size: 80%;
    text-align: center;
    bottom: -25%;
}

.beauty {
    font-family: 'Kaisei HarunoUmi', serif;
}

.power {
    font-family: 'Zen Antique', serif;
}

/* メディアクエリを使用してデスクトップ用のスタイルを適用 */
@media screen and (min-width: 769px) {
    .hero_area {
        background-image: url(https://256times-upload-files.s3.ap-northeast-1.amazonaws.com/production/101/4311/af880fc03d0175ac6ec908ba4f05cab9769dbdcc.jpg);
        background-size: 100%;
        height: 400px;
        background-repeat: no-repeat;
        position: relative;
    }

    .hero_area .text_box {
        position: absolute;
        width: 45%;
        max-width: 300px;
        height: 35%;
        top: 40%;
        left: 30%;
        color: white;
        transform: translate(-50%,-20%);
        padding:0;
        margin:0;
        background-color: #4C5656;
        opacity: .8;
    }

    /* テキスト部分 */
    .text_box .title {
        position: relative;
        font-weight: bold;
        font-size: 200%;
        text-align: center;
        top: 5%;
    }

    .text_box .text {
        position: relative;
        font-size: 120%;
        text-align: center;
        bottom: -5%;
    }
}

/* コンセプト部分 */
/* 
https://niwaka-web.com/flexbox_reverse02/
これ参考に作成する
 */
.concept {
    width: 100%;
    height: 1600px;
    background-color: #3b4b5a;
    gap: calc(100% / 3);
}

.concept .box {
    width: 100%;
    /* height: calc(100% / 3); */
    max-height: 4500px;
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.concept .box .pict {
    max-height: 250px;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.concept .box .text_box {
    padding:  2% 5%;
    color: #ccc;
}

.concept .box .text_box h3 {
    text-align: center;
    padding-bottom: 2%;
}

@media (min-width:769px) {
    .concept {
        max-height: 1050px;
    }

    .concept .box {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    .concept .box:nth-child(even) {
      flex-direction: row;
    }
  }


/* Service部分 */
.Service {
    width: 100%;
    height: 2300px;
    background-color: #D6EBFF;
}

.Service h2 {
    text-align: center;
    padding: 1rem 2rem;
    border-top: 6px double #000;
    border-bottom: 6px double #000;
}

.Service .box {
    width: 100%;
    /* height: calc(100% / 3); */
    max-height: 4500px;
    display: flex;
    flex-direction: column;
    padding: 32px;

    /* https://saruwakakun.com/html-css/reference/box#section2 */
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

/* https://saruwakakun.com/html-css/reference/box#section2 */
.Service .box:before, .Service .box:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}

.Service .box:before {left: 10px;}
.Service .box:after {right: 10px;}


.Service .box .pict {
    max-height: 250px;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.Service .box .text_box {
    padding:  2% 5%;
}

.Service .box .text_box h3 {
    text-align: center;
    padding-bottom: 2%;
    color: #000;
}

.Service .box .text_box p {
    color: black;
}

@media (min-width:769px) {
    .Service {
        max-height: 1500px;
    }

    .Service .box {
      flex-direction: row;
      justify-content: space-between;
    }
    .Service .box:nth-child(even) {
      flex-direction: row-reverse;
    }
  }


/* Gallery部分 */
.Gallery {
    height: 700px;
}

.Gallery_list {
    display: flex;
    flex-wrap: wrap;
}

.Gallery_list li {
    width: calc(33% - 1px); /* -1pxとしているのは、1px分隙間をつくるため */
    height: calc(33% - 1px);
    /* max-width: 150px;  */
    max-width: 200px;
    max-height: 200px;
    margin: 0 0 1px 1px; /* 下と左に1px分、隙間をつくります */
}

.Gallery_list li figure {
    position: relative;
    padding-top: 100%;
}

.Gallery_list li figure img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}

@media (min-width:769px) {

  }





/* フッター部分 */

/* 画像部分 */
footer {
    background-color: #F4F3DF;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer p {
    color: #ccc;
    background-color: #3b4b5a;
}

.logo-table img {
    padding: 8%;
    width: 50%;
}

/* お店情報部分 */
.logo-table dl {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.logo-table dt {
    width: 40% ;
    color: black;
    margin-left: 10%;
}

dd {
    width: 30%;
    color: black;
    margin-right: 10%;
}

/* アイコン部分 */
footer .icon {
    display: flex;
    width: 50%;
    margin: 32px auto;
}

footer .icon i {
    font-size: 32px;
    flex: 1;
}

.bi-instagram {
    color: #E9A758;
    cursor: pointer;
}

.bi-twitter {
    color: #1D9BF0;
    cursor: pointer;
}

.bi-facebook {
    color: #1877F2;
    cursor: pointer;
}

@media (min-width:769px) {
    .logo-table {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    /* お店情報部分 */
    .logo-table dl {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        line-height: 1;
        padding: 3%;
        margin-top: 30px;
    }

    .logo-table dt {
        width: 30% ;
    }

    .logo-table dd {
        width: 40%;
    }
  }